<footer>
  <section class="container footerLink">
    <div>
      <h3>Learn more</h3>
      <ul>
        <li><a href="index.html#video"> Our Listings</a></li>
        <li><a href="contact.html#table"> Gallery</a></li>
        <li><a href="contact.html#contactForm"> Contact Us</a></li>
      </ul>
    </div>
    <div>
      <h3>About Us</h3>
      <ul>
        <li><a href="index.html#textImage"> Our Team</a></li>
        <li><a href="index.html#imageText"> Services</a></li>
        <li><a href="index.html#headerOnly1"> Our Customers</a></li>
      </ul>
    </div>
    <div>
      <h3>External Link</h3>
      <ul>
        <li><a href="https://www.realtor.ca/"> Realtor </a></li>
        <li><a href="https://housesigma.com/web/en/"> HouseSigma </a></li>
        <li><a href="https://www.point2homes.com/"> Point2homes</a></li>
      </ul>
    </div>
  </section>
  <section class="copyright">
    &copy; Copyright - Thuy Giang Nguyen - thuygiang3004@gmail.com
  </section>
</footer>
