<header>
  <div class="container header">
    <a href="index.html"><img src="images/logo.png" alt="Logo" /></a>
    <!-- Logo created by using https://hatchful.shopify.com/onboarding/pick-space -->
    <h2>We make your home as comfortable as you may wish</h2>
  </div>
</header>
<nav>
  <ul class="container">
    <li><a href="/"> Home </a></li>
    <li><a href="request-form"> Tenants </a></li>
    <li><a href="/admin-dashboard"> Dashboard </a></li>
    <li><a href="/listing-entry"> New listing </a></li>
    <li><a href="/listings"> Listings </a></li>
    <li><a href="/logout"> Logout</a></li>
  </ul>
</nav>
