<header>
  <div class="container header">
    <a href="index.html"><img src="images/logo.png" alt="Logo" /></a>
    <!-- Logo created by using https://hatchful.shopify.com/onboarding/pick-space -->
    <h2>We make your home as comfortable as you may wish</h2>
  </div>
</header>
<nav>
  <ul class="container">
    <li><a href="/"> Home </a></li>
    <li><a href="/listings"> Listings </a></li>
    <li>
      <a href="contact.html"> Contact Us </a>
      <ul>
        <li><a href="contact.html#video">Property Management</a></li>
        <li><a href="contact.html">Real Estate services</a></li>
        <li><a href="contact.html">Renovations</a></li>
      </ul>
    </li>
    <li><a href="request-form"> Tenants </a></li>
    <li><a href="login"> Admin Portal </a></li>
  </ul>
</nav>
