<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta.ejs') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main>
      <h3>Welcome to TGN Property Management</h3>
      <p>
        If you are our current tenant, please fill out the
        <a href="/request-form">Request Form</a> to make work order. We will
        contact you as soon as possible
      </p>
      <p>
        If you are thinking to rent one of our beautiful unit, please give us a
        call at 211-899-1111 for inquiry.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
        necessitatibus sit quidem provident tempora nam eaque in quis non illo,
        officiis mollitia consequatur quod iure vel, veritatis ducimus, sunt
        aut.
      </p>
    </main>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
