<!-- Thuy Giang Nguyen 8832159 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TGN Home</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/styles1.css" />
  </head>
  <body>
    <header>
      <div class="container header">
        <a href="index.html"><img src="images/logo.png" alt="Logo" /></a>
        <!-- Logo created by using https://hatchful.shopify.com/onboarding/pick-space -->
        <h2>We make your home as comfortable as you may wish</h2>
      </div>
    </header>
    <nav>
      <ul class="container">
        <li><a href="/"> Home </a></li>
        <li><a href="/listings"> Listings </a></li>
        <li>
          <a href="contact.html"> Contact Us </a>
          <ul>
            <li><a href="contact.html#video">Property Management</a></li>
            <li>
              <a href="contact.html">Real Estate services</a>
            </li>
            <li><a href="contact.html">Renovations</a></li>
          </ul>
        </li>
        <li><a href="request-form"> Tenants </a></li>
        <li><a href="login"> Admin Portal </a></li>
      </ul>
    </nav>
    <main>
      <section id="heroImg" class="container heroImg">
        <img src="images/hero1.png" alt="Suildings" />
        <!-- Image pexels-pavel-danilyuk-9143513.jpg by Pavel Danilyuk (Jul 7, 2021). A Woman Sitting on a Chair Playing Acoustic Guitar [Photograph]. From Pexels. https://www.pexels.com/photo/a-woman-sitting-on-a-chair-playing-acoustic-guitar-9143513/ -->
      </section>
      <section id="text1" class="container text1">
        <h2>Housing solution for everyone</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          pariatur et excepturi a ducimus. Nemo veritatis tempore iste excepturi
          ex perspiciatis quasi debitis, voluptatum commodi corrupti nulla,
          molestias at praesentium! Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Similique in atque molestiae aut voluptate expedita
          animi amet provident repellat perspiciatis ut, ducimus numquam? Rem
          incidunt deleniti nostrum. Modi, vero voluptatem!
        </p>
      </section>
      <section id="textImage" class="container textImage">
        <div id="text2" class="text2">
          <h2>Cozy rental home</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
            harum, mollitia ipsa sequi dolores laudantium autem alias voluptatum
            numquam? Eligendi culpa ut tempore dolor harum magni, rerum
            obcaecati? Amet, accusantium?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
            harum, mollitia ipsa sequi dolores laudantium autem alias voluptatum
            numquam? Eligendi culpa ut tempore dolor harum magni, rerum
            obcaecati? Amet, accusantium?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
            harum, mollitia ipsa sequi dolores laudantium autem alias voluptatum
            numquam? Eligendi culpa ut tempore dolor harum magni, rerum
            obcaecati? Amet, accusantium?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
            harum, mollitia ipsa sequi dolores laudantium autem alias voluptatum
            numquam? Eligendi culpa ut tempore dolor harum magni, rerum
            obcaecati? Amet, accusantium?
          </p>
        </div>
        <div id="img1" class="img1">
          <img src="images/home2.png" alt="House" />
          <!-- Image pexels-amine-m'siouri-2033896.jpg by Amine M'siouri (May 31, 2015). Man Carrying Guitar While Standing Starring at the Hills [Photograph]. From Pexels. https://www.pexels.com/photo/man-carrying-guitar-while-standing-starring-at-the-hills-2033896/ -->
        </div>
      </section>

      <section id="imageText" class="container imageText">
        <div id="img2" class="img2">
          <img src="images/pexels-lukas-hartmann-1827234.jpg" alt="Building" />
          <!-- Image pexels-pok-rie-392027.jpg by Pok Rie (April 27th, 2017). Grayscale Photography of Boy Playing Violin [Photograph]. From Pexels. https://www.pexels.com/photo/grayscale-photography-of-boy-playing-violin-392027/ -->
        </div>
        <div id="text3" class="text3">
          <h2>Spacious and Affordable Commercial Space</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
            harum, mollitia ipsa sequi dolores laudantium autem alias voluptatum
            numquam? Eligendi culpa ut tempore dolor harum magni, rerum
            obcaecati? Amet, accusantium?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
            harum, mollitia ipsa sequi dolores laudantium autem alias voluptatum
            numquam? Eligendi culpa ut tempore dolor harum magni, rerum
            obcaecati? Amet, accusantium?
          </p>
        </div>
      </section>

      <section id="threeCards" class="container threeCards">
        <div id="headerOnly1" class="headerOnly1">
          <h2>Let it be your next home</h2>
        </div>
        <div class="card" id="card1">
          <a href="contact.html"
            ><img src="images/pexels-pixabay-54581.jpg" alt=""
          /></a>
          <!-- Image pexels-brett-sayles-2479320.jpg by Brett Sayles (Jun 9, 2019). Man Playing Guitar Beside Woman and Man Listening to Him [Photograph]. From Pexels. https://www.pexels.com/photo/man-playing-guitar-beside-woman-and-man-listening-to-him-2479320/ -->
          <h3>Steps to find a rental</h3>
          <ol>
            <li>Search</li>
            <li>Discover</li>
            <li>Visit</li>
          </ol>
          <div class="cardBtn">
            <a href="contact.html">Read more</a>
          </div>
        </div>
        <div class="card" id="card2">
          <a href="contact.html"><img src="images/card2.jpg" alt="" /></a>
          <!-- Image pexels-feyza-tuğba-11760827.jpg by Feyza Tuğba (April 9th, 2022). Brown Violin on White Paper [Photograph]. From Pexels. https://www.pexels.com/photo/brown-violin-on-white-paper-11760827/ -->
          <h3>Our contact.html</h3>
          <ul>
            <li>Consulting</li>
            <li>Investing</li>
            <li>Renovating</li>
          </ul>
          <div class="cardBtn">
            <a href="contact.html">Read more</a>
          </div>
        </div>
        <div class="card" id="card3">
          <a href="contact.html"
            ><img
              src="images/pexels-photomix-company-101808.jpg"
              alt="Silver Dynamic Microphone on Black Microphone Stand"
          /></a>
          <!-- Image pexels-dmitry-demidov-3783471.jpg by Dmitry Demidov (March 25th, 2020). Silver Dynamic Microphone on Black Microphone Stand [Photograph]. From Pexels. https://www.pexels.com/photo/silver-dynamic-microphone-on-black-microphone-stand-3783471/ -->
          <h3>Host Listings</h3>
          <ul>
            <li>Listing 1</li>
            <li>Listing 2</li>
            <li>Listing 3</li>
          </ul>
          <div class="cardBtn">
            <a href="contact.html">Read more</a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section class="container footerLink">
        <div>
          <h3>Learn more</h3>
          <ul>
            <li><a href="index.html#video"> Our Listings</a></li>
            <li><a href="contact.html"> Gallery</a></li>
            <li><a href="contact.html#contactForm"> Contact Us</a></li>
          </ul>
        </div>
        <div>
          <h3>About Us</h3>
          <ul>
            <li><a href="index.html#textImage"> Our Team</a></li>
            <li><a href="index.html#imageText"> Services</a></li>
            <li><a href="index.html#headerOnly1"> Our Customers</a></li>
          </ul>
        </div>
        <div>
          <h3>External Link</h3>
          <ul>
            <li><a href="https://www.realtor.ca/"> Realtor </a></li>
            <li><a href="https://housesigma.com/web/en/"> HouseSigma </a></li>
            <li><a href="https://www.point2homes.com/"> Point2homes</a></li>
          </ul>
        </div>
      </section>
      <section class="copyright">
        &copy; Copyright - Thuy Giang Nguyen - thuygiang3004@gmail.com
      </section>
    </footer>
  </body>
</html>
